@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, future employer</h1>

Welcome to the Reddit Post Statistics App. <br/><br/>

This app is a simple Reddit client that allows you to view posts from a subreddit("Blazor" or any other) and see some basic statistics about the posts.
This will simulate a real-world scenario where post are being entered in.  This app will start somewhere in the middle of the subreddit's history 
   then update until the beginning is reached, it will then poll the site until new post are made.  This will allow you to see the statistics change as the
   posts are updated as well as some detailed information about each post.
<br/><br/>
I also added an option to sort the posts by most recent or most upvotes. 

<br />
<br />

I hope you enjoy this app and I look forward to hearing from you soon.


*** Please note that currently Reddit is not supplying the 3 rate limit headers as Reddit may have changed this recently.  
Rate limit code has been added, but at this time the rate limit is set to 60 seconds to prevent the app from being blocked by Reddit.  
This is not ideal but it will allow you to see the app in action.  I will continue to look into this and see if I can find a solution.  Thank you for your understanding.

